label {
    display: block;
    margin-top: 10px;
  }
  
  .card-container.card {
    max-width: 350px !important;
    padding: 40px 40px;
  }
  
  .card {
    background-color: #f7f7f7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }
  
  .profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .dx-icon-trash {
    font-size: 24px !important; /* set the font size to adjust the icon size */
  }
  


  .mui-data-grid .dx-gridbase-container{
  font-size: 14px;
  /* border: 1px solid #e0e0e0; */
  border-radius: 10px;
}
.dx-datagrid-header-panel{
  border-radius: 10px 10px 0px 0px;
}
/*
.dx-pager .dx-pages{
  margin-right: 0.5em
}


.mui-data-grid .dx-data-row .dx-command-edit:before {
  content: "";
  display: inline-block;
  height: 30px;
}

.dx-datagrid-header-panel .dx-toolbar{
  padding: 10px;
}

.dx-toolbar-after{
  right: 40px;
}
.dx-toolbar-item-content > .dx-texteditor{
  width: 200px !important;
} */
